## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
artifacts/
build/
bld/

## Visual Studio / Visual Studio Code
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

## Files built by Visual Studio
*.dll
*.exe
*.pdb
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## macOS
.DS_Store

## Rider
*.sln.iml
